@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
body {
    font-family: 'Poppins', sans-serif;
    /* text-align: center; */

}

h1 {
    font-weight: 400;
    font-family: 'Sacramento', cursive;
}

html {
  scroll-behavior: smooth;
}

header {
  display: grid;
  grid-template-columns: 20vw auto;
  background-color: #2196f3;
}

nav {
  border: 2px solid red;
  background-color: rgba(255, 255, 255, 0.8);
  width: 20vw;
  position: fixed;
}

main {
  border: 2px solid yellow;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  grid-column-start: 2;
}

  #home {
    border: 2px solid red;
    padding: 10em;
    margin-top: -5em;
    margin-bottom: 5em;
  }
  #collections {
    border: 2px solid red;
    padding: 10em;
    margin-bottom: 5em;
  }
  
  #video-section {
    border: 2px solid red;
    padding: 10em;
    margin-bottom: 5em;
  }
  
  #join {
    border: 2px solid red;
    padding: 5em;
    margin-bottom: 5em;
  }


.content {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.navigation {
  display: flex;
  flex-direction: column;
  /*position: relative;*/
  
}

.navigation a {
  position: relative;
  padding: 2em;
  margin-top: 1em;
  text-align: right;
}

#header-img {
  max-width: 200px;
  max-height: 200px;
}