@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
body {
    font-family: 'Poppins', sans-serif;
    /* text-align: center; */

}

h1 {
    font-weight: 400;
    font-family: 'Sacramento', cursive;
}

header{
    
}
#nav-bar {
    position: fixed;
    width: 25%;
    background: #DAA520;
    /* display: none; */
    height: 95vh;
}

#nav-bar a {
    display: block;
    position: relative;
    top: 40%;
    transform: translateY(-40%);
    text-align: right;
    font-size: 2rem;
    color: #fff;
    margin: 0 15%;
}

#nav-bar a:hover {
    background: rgb(153, 115, 18);
    color: #fff;
    margin-right: 15px;
    transition: 0.8s;
}

#nav-bar a:focus {
    /* background: rgb(153, 115, 18); */
    color: #fff;
    margin-right: 15px;
    transition: 0.8s;
}
.logo {
    border: 2px solid red;
    position: relative;
    width: 60%;
    float: right;
    height: 100vh;

}

#header-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#collection {
    border: 2px solid red;
    
}