@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
body {
    font-family: 'Poppins', sans-serif;
    /* text-align: center; */

}

h1 {
    font-weight: 400;
    font-family: 'Sacramento', cursive;
}
html {
    scroll-behavior: smooth;
  }
  #header {
    /* margin-top: 5em; */
  }
  .page {
    display: grid;
    grid-template-columns: 30vw auto;
  }
  
  #nav-bar {
    position: fixed;
    width: 20vw;
    background: red;
    display: flex;
    flex-direction: column;
    padding: 2em;
    height: 1024px;
  }
  
  #nav-bar a {
    padding: 2em;
    text-align: right;
    text-decoration: none;
    color: #fff;
    
  }
  
  #nav-bar a:hover {
    background: #333;
    margin-left: 10px;
    transition: 0.4s ease;
  }
  
  main {
    grid-column-start: 2;

    
  }
  #home {
    border: 2px solid red;
    padding: 10em;
    margin-top: -5em;
    margin-bottom: 5em;
  }
  #collections {
    border: 2px solid red;
    padding: 10em;
    margin-bottom: 5em;
  }
  
  #video {
    border: 2px solid red;
    padding: 10em;
    margin-bottom: 5em;
  }
  
  #join {
    border: 2px solid red;
    padding: 5em;
    margin-bottom: 5em;
  }

  #header-img {
      width: 200px;
      height: 200px;
  }