body {
	margin: 0;
	padding: 0;
}

.container {
	display: grid;
	grid-auto-flow: dense;
	grid-template: "1fr 1fr 1fr 1fr" 200px
					"1fr 1fr 1fr 1fr" 200px
					"1fr 1fr 1fr 1fr" 200px;
	/*grid-template-columns: repeat(auto-fit,minmax(200px,1fr));*/
	grid-gap: 1.5rem;
	border: 5px solid #DAA520;
	padding: 2em 10em;
	margin: 20px;
}

.container .box {
	position: relative;
	background: #ccc;
}
.container .box img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.container .box.a {
	grid-row: span 2;
}

.container .box.b.box.c,.box.d,.box.e, .box.f {
	
	grid-row: 1/2;
}